<div style="position: absolute;top: 50%;left: 50%;-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);">
  <iframe src="https://giphy.com/embed/hVYz8paDiNLPO" width="480" height="279" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<div style="position: absolute;top: 50%;left: 50%;-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);">
  <h1>UNLOCKED!</h1>
</div>